/* CSS reset */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
}

.game-container {
    position: relative;
}

.game, .row {
    display: flex;
    gap: 5px;
}

.game {
    flex-direction: column;
}

.square {
    height: 200px;
    width: 200px;
    display: grid;
    place-content: center;
    outline: 1px solid black;
    font-size: 6rem;
}

.announcer {
    text-align: center;
    font-size: 6rem;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    font-size: 4rem;
    padding-block: 2rem;
}

.winning-line-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.winning-line {
    border: 5px solid black;
    width: 500px;
}

.new-game-button-container {
    height: 50px;
    width: 100%;
}

.new-game-button {
    display: none;
    height: 100%;
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.new-game-button:hover {
    background-color: gray;
    color: black;
}

.active {
    display: grid;
    place-content: center;
}